{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="bg-image bg-image-top" style="background-image: url('/static/home/img/about-banner.jpg'); background-size: cover;">
    <div class="container-fluid background-container-bottom background-container">
    <div class="container d-flex align-items-center" style="height: 40vh;">
        <div class="row w-100 text-lg-end">
            <div class="col">
                <h1 class="fade-in-text">About Me<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span></h1>  
            </div>
        </div>
    </div>
</div>
</div>
<div class="container content-container pt-5">
    <div class="row">
        <div class="col">
            <h2>
                How it all began
            </h2>
            <p>Hi! My name is Malcom. I was born in Argentina and grew up in New York. 
                Now, I live and work in the Dominican Republic. Ever since I was a child, I've loved technology and science.
                I've loved tinkering with electronics since I got my first computer. Even something as simple as editing batch files
                felt magical to a young me. 
            </p>
            <p>
                I remember how excited I was when I figured out I could edit Windows' autoexec.bat to echo a custom
                greeting for me that would show up every time I booted my machine. I also remember the feeling of utter dread
                after irreversibly altering or deleting an important system file,
                back during a time when file recovery and system restore points were not commonplace.
            </p>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <h2>What I love</h2>
            <p>
                Technology and science were never my only passions. 
            </p>
        </div>
    </div>
</div>
{% endblock %}
