{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="bg-image bg-image-top" style="background-image: url('/static/home/img/about-banner.jpg'); background-size: cover;">
    <div class="container-fluid background-container-bottom background-container">
    <div class="container d-flex align-items-center" style="height: 40vh;">
        <div class="row w-100 text-lg-end">
            <div class="col">
                <h1 class="fade-in-text">About Me<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span></h1>  
            </div>
        </div>
    </div>
</div>
</div>
<div class="container content-container">
    <div class="row">
        <div class="col">
            <p>I was born in a Sudanese village in the 17th century. Was there a Sudan back then? I doubt it, but I was ahead of my time even
                then. Blessed with the gift of second sight,
            </p>
        </div>
    </div>
</div>
{% endblock %}
