{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="bg-image bg-image-top" style="background-image: url('/static/home/img/about-banner.jpg'); background-size: cover; background-position: 15% 0%;">
    <div class="container-fluid background-container-bottom background-container">
    <div class="container d-flex align-items-center" style="height: 40vh;">
        <div class="row w-100 text-lg-end">
            <div class="col">
                <h1 class="fade-in-text">About Me<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span></h1>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container content-container pt-5">
    <div class="row">
        <div class="col">
            <h2>
                How it all began<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span>
            </h2>
            <p>Hi! My name is Malcom. I was born in Argentina and grew up in New York.
                Now, I live and work in the Dominican Republic. Ever since I was a child, I've loved technology and science.
                From the time I got my first computer, I've loved tinkering with electronics. Even something as simple as editing batch files
                felt magical to a young me.
            </p>
            <p>
                I remember how excited I was when I figured out I could edit Windows' autoexec.bat to echo a custom
                greeting for me that would show up every time I booted my machine. I also remember the feeling of utter dread
                after irreversibly altering or deleting an important system file,
                back during a time when file recovery and system restore points were not very user-friendly.
            </p>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <h2 class="text-lg-end">
                What I love<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span>
            </h2>
            <p>
                Technology and science were never my only passions. From a young age I've had a great love of music.
                Like many, I got my start in music with childhood piano lessons. During my teenage years I learned to play
                the guitar. These days, I like to transition between several different instruments, though my favorite
                at the moment is the bass.
            </p>
            <p>
                Aside from music, I consider myself an avid reader. Whether it's books on mythology, self-improvement, or
                the occasional sci-fi or fantasy novel, I spend a large chunk of my free time exploring the world through reading.
                Lastly, I enjoy learning to cook new dishes. Every week I try to learn to either bake or cook something completely new.
            </p>
        </div>
        <div class="col-5 d-none d-lg-block">
            <div class="img-responsive img-blur background-container" style="background-image: url('/static/home/img/about-music.png');">
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <h2 class="text">
                My abilities<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span>
            </h2>
            <p>
                Developers often boast about the many languages they can code in or the many techs they're proficient in --
                and don't worry, I will do that, as well.
                However, I think it's important to highlight the skill that has made me not only want to pursue a career in technology,
                but also what I think makes great programmers: adaptability. I'm an incredibly quick learner. With a look through some
                documentation and just a bit of hands-on practice, I can learn a new technology very rapidly. Adapting to mistakes
                and learning from them quickly isn't just a characteristic I brag about to entice potential employers: it's the very
                element that drives my passion for technology and science.
            </p>
            <p>
                This is a field that changes and advances at breakneck speed, and I love it. I might be tidying data with R one day,
                and tweaking a machine learning model in Python to achieve a 0.1% increase in accuracy the next. I may have worked with
                a front-end framework a year ago that is completely different today. It's a discipline that punishes stagnation and
                conformity. You must be willing to learn in order to grow.
            </p>
            <p>
                I have a love for all things Python. This website was made using the Django framework. It's hosted on <a href="http://pythonanywhere.com">
                pythonanywhere.com</a>. Though it is far and away my favorite language, many of the projects hosted on this site were created using different
                frameworks. My preferred field of work is in data analysis and data science. As such, most of the tools I've chosen to specialize in
                are analytical in nature. Python, R, SQL, PowerBI, and Tableau are some of the tools I've used to carry out data analysis. As far as
                web development: ReactJS is my favored tool for front-end work, whereas languages such as C# and
                Python are my preferred options for back-end work.
            </p>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-5 d-none d-lg-block">
            <div class="img-responsive img-blur background-container" style="background-image: url('/static/home/img/portrait.png');">
            </div>
        </div>
        <div class="col">
            <h2 class="text-lg-end">
                My mission<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span>
            </h2>
            <p>
                I strongly believe that feeding our passions fuels our self-growth. As such, my mission as a professional is
                to always find room for improvement. A one percent improvement may not seem like a lot as an isolated number,
                but accumulated additively over a month means you are now 30% better. Imagine the effect of such small daily
                increments on an entire team.
            </p>
            <p>
                Due to my personal philosophy of continuous improvement, I can assure you that I will bring my best to any
                project that I work on. More than that, the bar for what I consider "best" will constantly shift upwards, as I seek
                ways to consistently grow and improve not just myself, but any team I'm a part of.
            </p>
        </div>
    </div>
</div>
<div class="container text-center pb-3 pt-3">
    <div class="row">
        <div class="col">
            <h1>Want to discuss your next project<span style="color: var(--color-accent); font-family: 'Bebas Neue', cursive;">?</span></h1>
            <a href="{% url 'contact' %}" class="disabled"><button class="btn btn-primary">Contact Me <i class="fas fa-arrow-right"></i></button></a>
        </div>
    </div>
</div>
{% endblock %}
