{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{% static 'home/img/portrait.png' %}" height="700" width="931">
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-9">
                    <h1 class="fade-in-text">Web Development<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span></h1>
                    <h1 class="typewriter">Data science<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span></h1>
                </div>
            </div>            
            <p>Bitch I do it all.</p>
            <p>I'm not the asian man in the picture.</p>
            <p>I'm not sold on this font.</p>
            <button class="btn btn-primary">Slap That Hire Button <i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
</div>
<div class="container-fluid test">
    <div class="row">
        <div class="col">
            <h1>Showcase stuff here.</h1>
        </div>
    </div>
</div>
{% endblock %}
