{% extends "home/base.html" %}

{% load static %}

{% block content %}

<div class="container section">
    {% if post.banner_img != null %}
    <div class="row">
        <div class="banner-img-container" style="background-image: url({{post.banner_img.url}});">
        </div>
    </div>
    {% endif %}
    <div clas="row">
        <div class="col text-center">
            <h1>{{post.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h3>By: {{post.author}}</h3>
        </div>
        <div class="col text-center">
            <h3>Published: {{post.date_published}}</h3>
        </div>
    </div>
    {% if post.repo_link != null %}
    <div class="row">
        <div class="col text-center">
            <a href={{post.repo_link}} target="_blank"><button class="btn btn-primary">Source Code <i class="fas fa-arrow-right"></i></button></a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {{post.body|safe}}
        </div>
    </div>
</div>

{% endblock %}